@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');
@import "./fonts/fall-in-love.css";


@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes swing {
  0% {
    transform: rotate(var(--rotation-angle));
  }

  50% {
    transform: rotate(calc(var(--rotation-angle) + 10deg));
  }

  100% {
    transform: rotate(var(--rotation-angle));
  }
}

@keyframes swing-satu {
  0% {
    transform: rotate(var(--rotation-angle));
  }

  50% {
    transform: rotate(calc(var(--rotation-angle) + 12deg));
  }

  100% {
    transform: rotate(var(--rotation-angle));
  }
}

@keyframes swing-negatif {
  0% {
    transform: rotate(var(--rotation-angle));
  }

  50% {
    transform: rotate(calc(var(--rotation-angle) + -10deg));
  }

  100% {
    transform: rotate(var(--rotation-angle));
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.rotate {
  animation: rotation 2.5s linear infinite;
}

.class-swing {
  --rotation-angle: 0;
  animation: swing 2.5s ease-in-out infinite;
  animation-fill-mode: forwards;
}

.class-swing-satu {
  --rotation-angle: 0;
  animation: swing-satu 2.5s ease-in-out infinite;
  animation-fill-mode: forwards;
}

.class-swing-negatif {
  --rotation-angle: 0;
  animation: swing-negatif 2.5s ease-in-out infinite;
  animation-fill-mode: forwards;
}

/* .class-swing[style*="--rotation-angle"] {
  --rotation-angle: var(--rotation-angle);
} */

/* ==== FADE IN ====  */
@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fade-in 2s;
  animation-fill-mode: forwards;
}

.bg-glass {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

@keyframes name-of-animation {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  80% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.animate-this-element {
  animation: name-of-animation 5s infinite;
}

@keyframes keyframe-pulse {
  0% {
    box-shadow: 0 0 0 0 #F97316;
  }
}

.pulse {
  border: none;
  animation: keyframe-pulse 1.5s infinite;
  box-shadow: 0 0 0 2em transparent;
}

.bounce-3 {
  animation-name: bounce-3;
  animation-timing-function: ease;
}

@keyframes bounce-3 {
  0% {
    transform: translateY(0);
  }

  30% {
    transform: translateY(-100px);
  }

  50% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes moveDown {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(5px);
  }

  100% {
    transform: translateY(0);
  }
}

.moveDown {
  animation: moveDown 2.5s ease-in-out infinite;
}